---
const { Article_h2, Article_brødtekst, Article_img } = Astro.props;
---

<div class="article_section">
  <h2>{Article_h2}</h2>
  <p>{Article_brødtekst}</p>
  <img src={Article_img} alt="" />
</div>

<style>
  h2,
  p {
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  p {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    line-height: 1.5;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: clamp(1.5rem, 3vw, 2rem);
  }
</style>
