---
const { udforsk_link } = Astro.props;
---

<a href={udforsk_link}>Show more</a>

<style>
  a {
    display: block;
    width: 30%;
    font-size: 1.2rem;
    background-color: #423b36;
    color: white;
    padding: 0.7rem 1rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 2px;
    font-family: "Instrument Sans", sans-serif;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
