---
const { udforsk_link } = Astro.props;
---

<a href={udforsk_link}>UDFORSK FLERE</a>

<style>
  a {
    display: block;
    background-color: gray;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
