---
const { udforsk_link } = Astro.props;
---

<a href={udforsk_link}>Show more</a>

<style>
  a {
    display: block;
    width: 50%;
    font-size: 1.2rem;
    background-color: #423b36;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 2px;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
