---
import Card from "./Card.astro";
const { overskrift } = Astro.props;
---

<section>
  <h2>{overskrift}</h2>
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
</section>

<style></style>
