---
const { img, titel, text, link } = Astro.props;
---

<a href={link}>
  <article>
    <img src={img} />
    <h3>{titel}</h3>
    <p>{text}</p>
  </article>
</a>

<style>
  img {
    width: 100%;
    object-fit: cover;
  }

  h3 {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  a {
    color: #423b36;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
