---
import Card from "./Card.astro";
const { overskrift, variant } = Astro.props;
---

<section class={`cardsection ${variant}`}>
  <h2>{overskrift}</h2>
  <div class="grid_1-1-1-1">
    <Card link="./article" img="../imgs/forsidebillede.png" titel="titel" text="lorem lorem lorem lorem" />
    <Card link="#" img="../imgs/forsidebillede.png" titel="titel" text="lorem lorem lorem lorem" />
    <Card link="#" img="../imgs/forsidebillede.png" titel="titel" text="lorem lorem lorem lorem" />
    <Card link="#" img="../imgs/forsidebillede.png" titel="titel" text="lorem lorem lorem lorem" />
    <Card link="#" img="../imgs/forsidebillede.png" titel="titel" text="lorem lorem lorem lorem" />
    <Card link="#" img="../imgs/forsidebillede.png" titel="titel" text="lorem lorem lorem lorem" />
    <Card link="#" img="../imgs/forsidebillede.png" titel="titel" text="lorem lorem lorem lorem" />
    <Card link="#" img="../imgs/forsidebillede.png" titel="titel" text="lorem lorem lorem lorem" />
  </div>
</section>

<style>
  @media (min-width: 900px) {
    .grid_1-1-1-1 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      align-items: center;
      justify-items: center;
    }
  }

  .cardsection {
    padding: 3.5rem 1.2rem;
    margin-bottom: 4rem;
    align-items: center;
    justify-items: center;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 3.5rem;
  }

  .featured h2 {
    color: #00ff15;
  }

  .featured {
    background: #d9d9d9;
  }
</style>
