---
import Card from "./Card.astro";
const { overskrift, variant } = Astro.props;
---

<section class={variant}>
  <h2>{overskrift}</h2>
  <div class="grid_1-1-1-1">
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
  <Card img="../imgs/eksempel.png" titel="titel" text="lorem lorem lorem lorem" />
</div>
</section>

<style>
    .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center; 
    justify-items: center;

  }

  h2 {
    text-align: center;
  }


  .featured h2 {
    color: #00FF15;
  }

  .featured {
    background: #AF9F91;
  }



</style>
