<footer>
   <img src="../imgs/newsletter.png" alt="">
   <div class="flex_grid">
    <h2>DESIGN NEWS TO <br /> YOUR INBOX</h2>
    <form>
        <input type="email" placeholder="Email" required />
        <button type="submit">SIGN UP</button>
      </form>
    </div>
    <div class="footer_bund">
    <h3>CREATIVE ESCAPE</h3>
    <ul>
        <li><a href="#">Art</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Architecture</a></li>
      </ul>

    <ul>
        <li><a href="#">Website</a></li>
        <li><a href="#">Podcast</a></li>
        <li><a href="#">Authors</a></li>
      </ul>

      <ul>
        <li><a href="#">Styleguide</a></li>
        <li><a href="#">Licensing</a></li>
        <li><a href="#">Changelog</a></li>
      </ul>

      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
</footer>

<style>
    footer {
        background-color: #423B36;
    }

    img {
        width: 98%;
        align-items: center;
        margin-bottom: 5rem;
    }

    h2 {
        font-size: 4rem;
        color: #00FF15;
    }

    .flex_grid {
        display: flex;
        gap: 20rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;

        
    }

    input[type="email"] {
        width: 250px;    
        height: 40px;    
        padding: 0.5rem; 
        font-size: 1rem; 
        }

    button {
        height: 40px;
        padding: 0 1rem;
        font-size: 1rem;
        }

    .footer_bund {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
    }

    ul {
        list-style: none;
        border-top: 2px solid white;
        padding-right: 10rem ;
        padding-top: 2rem;
    }

    li {
        padding-bottom: 2rem;
    }


    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }

    h3{
        color: white;
    }

    
</style>