<footer>
  <img src="../imgs/newsletter.png" alt="" />
  <div class="flex_grid">
    <h2>DESIGN NEWS TO <br /> YOUR INBOX</h2>
    <form>
      <input type="email" placeholder="Email" required />
      <button type="submit">SIGN UP</button>
    </form>
  </div>
  <div class="footer_bund">
    <h3>CREATIVE ESCAPE</h3>
    <div class="grid_3-1">
      <ul>
        <li><a href="#">Art</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Architecture</a></li>
      </ul>

      <ul>
        <li><a href="#">Website</a></li>
        <li><a href="#">Podcast</a></li>
        <li><a href="#">Authors</a></li>
      </ul>

      <ul>
        <li><a href="#">Styleguide</a></li>
        <li><a href="#">Licensing</a></li>
        <li><a href="#">Changelog</a></li>
      </ul>
    </div>

    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
  </div>
</footer>

<style>
  footer {
    background-color: #423b36;
    padding: 1rem;
  }

  img {
    width: 98%;
    align-items: center;
    margin-bottom: clamp(2rem, 10vw, 5rem);
    padding: 0;
  }

  h2 {
    font-size: clamp(2rem, 4vw, 4rem);
    color: #00ff15;
    margin-bottom: 2rem;
  }

  form {
    margin-bottom: 3rem;
  }

  input[type="email"] {
    width: clamp(100px, 20vw, 350px);
    height: clamp(20px, 4vh, 50px);
    padding: 0.5rem;
    font-size: clamp(0.7rem, 1.5vw, 1.2rem);
  }

  button {
    height: clamp(35px, 4vh, 50px);
    padding: 0 clamp(0.2rem, 2vw, 1rem);
    font-size: clamp(0.7rem, 1.5vw, 1.2rem);
  }

  ul {
    list-style: none;
    border-top: 2px solid white;
    padding-top: 2rem;
  }

  .grid_3-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  li {
    padding-bottom: 2rem;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }

  h3 {
    color: white;
    margin-bottom: 1.5rem;
  }

  /********** Desktop ****************/

  @media (min-width: 1200px) {
    .flex_grid {
      display: flex;
      gap: 20rem;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;
    }

    .footer_bund {
      display: grid;
      grid-template-columns: 1fr 3fr;
      justify-items: center;
    }

    ul {
      padding-right: 10rem;
    }
  }
</style>
