---
import Burgermenu from "./Burgermenu.astro";
---

<section>
  <div class="flex">
    <img src="../imgs/søge.png" alt="" />
    <img src="../imgs/like.png" alt="" />
    <Burgermenu />
  </div>
</section>

<style>
  img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }

  section {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
  }

  .flex {
    display: flex;
    gap: 20px;
  }
</style>
