---
import Burgermenu from "./Burgermenu.astro"
---
<section>
    <img src="../imgs/søge.png" alt="">
    <img src="../imgs/like.png" alt="">
    <burgermenu/>
</section>

<style>
    img {
        width: 30%;
        margin-right: 10px;
    }
</style>