---
import CardSection from "./components/CardSection.astro";
import PageLayout from "./layouts/PageLayout.astro";
import Hero from "./components/Hero.astro";
import "./styles/style.css";
---

<PageLayout>
  <Hero />
  <p class="velkomsttekst">Discover the best experiences in Copenhagen and Berlin – from cozy cafés and hidden gems to iconic attractions and museums. Scroll down to explore our handpicked selection and find your next adventure in the city!</p>
  <CardSection
    variant="featured"
    overskrift="COPENHAGEN"
    img_1="../imgs/designmuseum.webp"
    titel_1="Designmuseum Denmark"
    text_1="Discover the world of Danish design"
    img_2="../imgs/donna.webp"
    titel_2="Donna Restaurant"
    text_2="Modern Italian cuisine in the heart of Copenhagen"
    img_3="../imgs/duo_1.webp"
    titel_3="DUO"
    text_3="Modern European cuisine in Copenhagen"
    img_4="../imgs/polly_3.webp"
    titel_4="Polly"
    text_4="Cozy café with delicious brunch and coffee"
    img_5="../imgs/beau.webp"
    titel_5="Beau"
    text_5="Chic café with a stylish atmosphere"
    img_6="../imgs/wilen_3.webp"
    titel_6="Wilen Store"
    text_6="A boutique for design"
    img_7="../imgs/grums_3.webp"
    titel_7="Grums"
    text_7="Cozy café with great coffee and vibes"
    img_8="../imgs/kernemilk.webp"
    titel_8="Kernemilk"
    text_8="Trendy fashion and unique clothing pieces"
  />
  <CardSection
    overskrift="BERLIN"
    img_1="../imgs/berlin1.webp"
    titel_1="Designmuseum Denmark"
    text_1="Discover the world of Danish design"
    img_2="../imgs/berlin2.webp"
    titel_2="Donna Restaurant"
    text_2="Modern Italian cuisine in the heart of Copenhagen"
    img_3="../imgs/berlin3.webp"
    titel_3="DUO"
    text_3="Modern European cuisine in Copenhagen"
    img_4="../imgs/berlin4.webp"
    titel_4="Polly"
    text_4="Cozy café with delicious brunch and coffee"
    img_5="../imgs/beau.webp"
    titel_5="Beau"
    text_5="Chic café with a stylish atmosphere"
    img_6="../imgs/wilen_3.webp"
    titel_6="Wilen Store"
    text_6="A boutique for design"
    img_7="../imgs/grums_3.webp"
    titel_7="Grums"
    text_7="Cozy café with great coffee and vibes"
    img_8="../imgs/kernemilk.webp"
    titel_8="Kernemilk"
    text_8="Artisan bakery and café in Copenhagen"
  />
</PageLayout>
