---
import CardSection from "./components/CardSection.astro";
import PageLayout from "./layouts/PageLayout.astro";
import Hero from "./components/Hero.astro";
import "./styles/style.css";
---

<PageLayout>
  <Hero />
  <p class="velkomsttekst">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nobis itaque, mollitia dicta deserunt nulla laboriosam enim magnam laudantium quo, quod possimus accusantium iste. Provident dolorum nobis cupiditate facilis minus.</p>
  <CardSection variant="featured" overskrift="Begivenheder i København" />
  <CardSection overskrift="Begivenheder i Berlin" />
</PageLayout>
