---
import CardSection from "./components/CardSection.astro";
import PageLayout from "./layouts/PageLayout.astro";
import Hero from "./components/Hero.astro";
import "./styles/style.css";
---

<PageLayout>
  <Hero />
  <p class="velkomsttekst">Discover the best experiences in Copenhagen and Berlin – from cozy cafés and hidden gems to iconic attractions and museums. Scroll down to explore our handpicked selection and find your next adventure in the city!</p>
  <CardSection
    variant="featured"
    overskrift="COPENHAGEN"
    img_1="../imgs/designmuseum.webp"
    titel_1="Designmuseum"
    text_1="Discover the world of Danish design"
    img_2="../imgs/donna.webp"
    titel_2="Donna"
    text_2="Modern Italian cuisine in the heart of Copenhagen"
    img_3="../imgs/duo_1.webp"
    titel_3="DUO"
    text_3="Modern European cuisine in Copenhagen"
    img_4="../imgs/polly_3.webp"
    titel_4="Polly"
    text_4="Cozy café with delicious brunch and coffee"
    img_5="../imgs/beau.webp"
    titel_5="Beau"
    text_5="Chic café with a stylish atmosphere"
    img_6="../imgs/wilen_3.webp"
    titel_6="Wilen Store"
    text_6="A boutique for design"
    img_7="../imgs/grums_3.webp"
    titel_7="Grums"
    text_7="Cozy café with great coffee and vibes"
    img_8="../imgs/kernemilk.webp"
    titel_8="Kernemilk"
    text_8="Trendy fashion and unique clothing pieces"
  />
  <CardSection
    overskrift="BERLIN"
    img_1="../imgs/berlin1.webp"
    titel_1="Brandenburger Tor"
    text_1="Historic neoclassical monument symbolizing German unity and peace"
    img_2="../imgs/berlin2.webp"
    titel_2="Kino Central"
    text_2="An independent art-house cinema in Berlin"
    img_3="../imgs/berlin3.webp"
    titel_3="Dump Ling"
    text_3="With Berlin's best dumplings"
    img_4="../imgs/berlin4.webp"
    titel_4="Mauerpark market"
    text_4="Known for vintage goods and street food"
    img_5="../imgs/berlin5.webp"
    titel_5="Street art"
    text_5="Beautiful street art near Mauerpark"
    img_6="../imgs/berlin6.webp"
    titel_6="Berlin Fernsehturm"
    text_6="TV tower and observation deck offering panoramic views of the city"
    img_7="../imgs/berlin7.webp"
    titel_7="Fotografiska"
    text_7="Showcasing innovative exhibitions in a historic building"
    img_8="../imgs/betttyzoo.webp"
    titel_8="Voo Store"
    text_8="Trendy concept store ioffering curated fashion and design"
  />
</PageLayout>
