---
import CardSection from "./components/CardSection.astro";
import "./styles/style.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Creative Escape</title>
  </head>
  <body>
    <CardSection variant="featured" overskrift="Begivenheder i København" />
    <CardSection overskrift="Begivenheder i Berlin" />
  </body>
</html>
