* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.velkomsttekst {
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-align: center;
  justify-items: center;
  max-width: 1200px;
  margin: clamp(5rem, 10vw, 13rem) auto;
  padding-left: 4rem;
  padding-right: 4rem;
  line-height: 1.8;
}
.last_article_section {
  margin-bottom: 15rem;
}
